<div class="col-lg-12 panel">
    <div class="panel-body">
      <ul class="chat">

      </ul>
    </div>

    <div class="chat-panel">
      <input class="chat-input" type="text" placeholder="Enter your message"></input>
    </div>
</div>
