/* This file is for your main application css. */

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: Helvetica;
  background: white;
  overflow-y: hidden;
  /*background: linear-gradient(to bottom, #939393, #a8a8a8);*/
}

.container {
  height: 100%;
  position: relative;
}

.alerts_container {
  border: solid;
  width: 100px;
  height: 100px;
}

.btn-primary {
  
}
