
.chat-time.text-muted {
  padding-left: 5px;
  color: #bdbdbd;

}

.chat-img img{
  margin-bottom: 5px;
  border-radius: 5px;
}

ul.chat li.left .chat-body {
  margin-left: 50px;
}

#chatroom-header {
  border-bottom: solid 1px #e4e4e4;
  background: white;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 250px;
  height: 70px;
}

#chatroom-header .room-information {
  padding: 15px 0 0 20px;
}

#chatroom-header .name {
  font-weight: bold;
  font-size: 20px;
}

#chatroom-header .number {
  font-size: 14px;
  color: gray;
}

.chat
{
  position: fixed;
  top: 70px;
  bottom: 65px;
  left: 250px;
  right: 0;
  max-height: 80%;
  overflow-y: auto;
  list-style: none;
  padding: 20px 20px 0px 20px;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    /*border-bottom: 1px dotted #B3A9A9;*/
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

.chat-panel  {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 250px;
  padding: 20px 20px;
}

.chat-panel .chat-input {
  box-sizing: border-box;
  border: 2px solid #dbdbdb;
  border-radius: 2px;
   -webkit-box-shadow:
     inset 0 0 8px  rgba(0,0,0,0.1),
           0 0 16px rgba(0,0,0,0.1);
   -moz-box-shadow:
     inset 0 0 8px  rgba(0,0,0,0.1),
           0 0 16px rgba(0,0,0,0.1);
   box-shadow:
     inset 0 0 8px  rgba(0,0,0,0.1),
           0 0 16px rgba(0,0,0,0.1);
   padding: 15px;
   background: rgba(255,255,255,0.5);
   width: 100%;
}

@media(max-width:768px) {
  #chatroom-header, .chat {
    left: 0px;
  }
  .chat-panel {
    left: 0;
    margin-left: 5px;
  }
}
