
div.search {

}

div.browse-channels {
  font-size: 26px;
  padding: 15px;
}

div.create-channel {
  padding: 15px;
}

div.search-results {
  line-height: 22px;
  height: 80vh;
  overflow-y: scroll;
}

div.search-results ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

div.search-results li {
  border-top: 1px solid #d3d3d3;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  cursor: pointer;
}

div.search-results li  a {
  text-decoration: none;
  color: #545454;
}

div.search-results li:hover {
  background-color: #f1f1f1;
}

div.search-results .room-overview {
  padding: 10px;
}

div.search-results .room-overview .room-name {
  font-size: 16px;
}
div.search-results .room-overview .room-desc {
  font-size: 16px;
}

@media(max-width:768px) {

}
