
div.search {
  margin-top: 70px;
  padding: 25px;
}

div.search .search-container {

}

div.search .search-container .search-header {
  font-size: 26px;
  font-weight: bold;
}

div.search .search-container .search-input {
  padding: 20px 0;
}

div.search .search-container .search-input form.navbar-form {
  padding: 0;
}

div.search .search-container .search-results {
  line-height: 22px;
}

div.search .search-container .search-results ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

div.search .search-container .search-results li {
  border-top: 1px solid #d3d3d3;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  cursor: pointer;
}

div.search .search-container .search-results li  a {
  text-decoration: none;
  color: #545454;
}

div.search .search-container .search-results li:hover {
  background-color: #f1f1f1;
}

div.search .search-container .room-overview {
  padding: 10px;
}

div.search .search-container .room-overview .room-name {
  font-size: 16px;
}
div.search .search-container .room-overview .room-desc {
  font-size: 16px;
}
